.container-activity{
    display: grid;
    width: 100%;
    /* background: blue; */
    align-self: center;
    /* margin-left: -160px; */
    /* display: block; */
    /* margin-top: 200px; */
    

    grid-column: 2;
    grid-row: 4;
}
