.container-App{
    display: grid;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
.cont-graph-sessions-score-performance{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.User-name{
    font-size: 48px;
    margin-bottom: 10px;
}
#user-name-styled{
    color: red;
}
.User-name-salutations{
    font-weight: normal;
    margin-top: 0px;
    font-size: 18px;
}