.container{
    margin: 20px 0px 20px 0px;
    background: black;
    /* width: 100%; */
    height: 100px;
   
    grid-column: 1 / 5;
  grid-row: 1;
   
}
.nav-conatainer{
    padding-top: 20px;  
    width: 100%;
    display: flex; 
}
.ul-container{
    display: flex;
    justify-content: space-around;
    width: 80%;
}
.ul-container > li{
    color: #fff;
    list-style-type: none;
}
.logo-sportsee{
    width:10%;
    padding-left: 25px;
}