#container-nav-right{
    /* background: red;
    width: 100px;
    height: 732px;
    margin-left: 20px;
    margin-top: -20px;  */
    display: grid;


    grid-column: 4;
    grid-row: 2;

}

/* .nav-left-conatiner{
    background: red;

} */
.nav-right{
    display: flex;
    flex-direction: column;    
    align-items: center;
    padding: 25px;
    margin-top: -20px;
}