#container-nav-right{
    display: grid;
    grid-column: 4;
    grid-row: 2;

}
.nav-right{
    display: flex;
    flex-direction: column;    
    align-items: center;
    padding: 25px;
    margin-top: -20px;
}